.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 20px;
  background: white;
}

.logo {
  width: 180px;
  height: 16px;
  background-image: url(../images/wikimedium_logo.svg);
  background-size: cover;
}

.about {
  margin-top: 8px;
  font-size: 14px;
  color: rgba(0,0,0,.2);
  transition: all .3s ease;
}

.about:hover {
  color: rgba(0,0,0,.4);
}
