.sidebar {
  position: fixed;
  top: 47px;
  left: 20px;
  width: 300px;
  padding: 13px 30px 15px;
  opacity: .1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.sidebar:hover {
  opacity: 1;
}

.sidebar li {
  margin: 12px 0;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0,0,0,.8);
}

.sidebar li:hover {
  color: rgba(0,0,0,1);
}

.sidebar li li {
  margin-left: 10px;
  color: rgba(0,0,0,.4);
}

.sidebar li li:hover {
  color: rgba(0,0,0,.6);
}

.sidebar > ul > li:first-child {
  font-weight: bold;
}
